body {
   background-image: url('http://1.bp.blogspot.com/-guCfmjEWH84/VHwqG7S5TkI/AAAAAAAAAaA/irWEu6jyYJI/s1600/Background%2BDesign%2BTheme%2BLight%2BGray.jpg');
   background-size: cover;    
}

.wikipage {
    background-color: gainsboro;
    margin: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 20px 20px 10px 20px;
    opacity: .95;
}

.title {
    font-weight: 800;
    font-size: 24px;
    text-decoration: none;
    color: black;
    position:relative;
    top: -20px;
}

.desc {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position:relative;
    top: -20px;
}

.nodecorate {
    text-decoration: none;
}
.random {
    text-decoration: none;
    color: white;
    font-size: 26px;
    position: relative;
    top: -15px;
}

.randomdiv {
    position: relative;
    top: -9px;
    left: -9px;
    background-color:darkcyan;
    border: solid thin black;
    width: 102%;
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}

.thumb {
    position: relative;
    left: -10px;
    top: -15px;
    float: left;
    height: 100px;
    border: thin solid black;
    margin: 10px;
}

.centered {
    position:    absolute;
    left:        50%;        /* Start with top left in the center */
    top:         50%;
    width:       200px;      /* The fixed width... */
    height:      100px;      /* ...and height */
    margin-left: -140px;     /* Shift over half the width */
    margin-top:  -50px;      /* Shift up half the height */
}

.topcentered {
    position:    relative;
    left:        50%;        /* Start with top left in the center */
    width:       200px;      /* The fixed width... */
    height:      100px;      /* ...and height */
    margin-left: -140px;     /* Shift over half the width */
}

.spandiv { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}   

#searchbox {
    position: absolute;
    background-color: transparent;
    height: 30px;
    font-size: 26px;
    border: solid black 4px;
    text-align: center;
    border-radius: 10px;
    
}

#searchbox:focus {
    outline-width: 0;
}

#clear {
    background-color: transparent; /* #092B40; */
    font-size: 26px;
    position: relative;
    left: +280px;
    top: +4px;
    border: none;
    color:darkgray;
    display: none;
}

.back {
    position: fixed;
    height: 400px;
}

.back:first-of-type {
    left: 70%;
    top: 50%;
}

